<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.beelabs.tbcinfo">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/NoActionBarTheme">
        <activity
            android:name=".ui.activity.CalendarScheduleActivity"
            android:screenOrientation="portrait">
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->

            <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>

        <activity
            android:name=".ui.activity.HomeActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activity.ReminderAlarmActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.ArticleActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.StatisticActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.NotifActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.BiodataActivity"
            android:screenOrientation="portrait" />

    </application>

</manifest>